@media(max-width: 375px){
  .haeder-wrapper {
    width: 375px;
  }
  /*.navigation-menu {
    display: none;
  }*/
  .haeder-wrapper{
    height: 63px;
  }
  .logo h1{
    font-size: 19px;
    margin: 17px 0px 0px 119px;
  }
  .logo-window h1{
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 25px;
    margin: 20px 0px 0px 9px;
    cursor: pointer;
    display: inline-block;
  }
  .main-wrapper_media-elements {
    height: 213px;
    margin-top: 71px;
  }
  .navigation-bar{
    display: inline-block;
  }

  body{
    margin: 0 auto;
    max-width: 375px;
  }
  .phone-vertical {
    top: 20px;
    left: 41px;
  }
  .phone-vertical img {
    width: 79px;
    height: 168px;
    border-radius: 11px;
    box-shadow: 0px 0px 0px #ce5d56, 0px 0px 0px #ce5d56, 9px 9px 0px #ce5d56, 9px 7px 0px #ce5d56;
  }
  .phone-horizontal img {
    width: 169px;
    height: 79px;
    border-radius: 11px;
    box-shadow: 12px 12px 0px #ce5d56, 10px 10px 0px #CE5D56, 13px 13px 0px #ce5d56, 5px 6px 0px #ce5d56;
  }
  .phone-horizontal {
    position: absolute;
    top: 64px;
    left: 155px;
  }
  .media-elements-left{
    top: 43.5%;
    left: 8.5%;
  }
  .media-elements-rigth {
    top: 43%;
    left: 96%;
  }
  .iphone-slide{
    width: 375px;
    height: 223px;
    margin: 0;
  }
  .logo_text-elements {
    padding: 25px 0px 0px 33px;
  }
  .logo_text-elements-text {
    padding: 19px 28px 15px 31px;
  }
  .position-container {
    padding: 12px 0px 0 6px;
  }
  .custom-dising, .inovation-ideas, .answer, .responsive-layout, .support, .star{
    width: 297px;
    margin: 12px 25px;
  }
  .pen-icon{
    padding: 0;
  }
  .inovation-ideas {
     padding: 0;
  }
  .main-wrapper_text-elements {
    padding-bottom: 9px;
  }
  .wrapper-header{
   padding: 27px 0px 33px 25px;
  }
  .logo-text {
    padding: 2px 37px 17px 9px;
  }
  .wrapper-button {
    margin: -3px -2px 2px 8px;
  }
  .creative-pictures {
    width: 151px;
    height: 128px;    
    margin: 5px 5px;
  }
  .wrapper-picture img:nth-child(n+9) {
    display: none;
  }
  .wrapper-header {
    margin-bottom: 0px;
  }
  .wrapper-portfolio {
    flex-direction: column;
    padding: 85px 22px 0px 0px;  
  }
  .wrapper_main {
    padding: 6px 0 44px 31px;
  }
  .photo_first-portfolio, .photo_second-portfolio, .photo_third-portfolio {
    width: 314px;
    height: 314px;
  }
  .first-portfolio h2, .second-portfolio h2, .third-portfolio h2{
    margin: 13px 0px 0px 0px;
  }
  .second-portfolio {
    padding: 35px 3px 0px 0px;
  }
  .wrapper_button-social-networks {
    padding: 20px 0px 0px 1px;
  }
  .third-portfolio {
    padding: 35px 27px 0 0px;
  }
  .wrapper-contacts{
    padding: 46px 0 36px 30px;
  }
  .input-block {
    padding: 89px 0 0 0;
    width: 314px;
  }
  .feedback-block-wrapper {
    flex-direction: column;
  }
  .input-block__contact {
    height: 37px;
    margin: 0px 0 11px 0px;
  }
  textarea{
    height: 154px;
    margin-left: 0px;
  }
  .input-block button {
    width: 315px;
    height: 47px;
    margin: 13px 0 0 0;
  }
  .contact-inform-wrapper {
    padding: 11px 0px 0px 0px;
  }
  .text-contact-inform {
    width: 323px;
  }
  .adress-wrapper {
    padding: 12px 0 0 0;
  }
  .location {
    padding-bottom: 6px;
  }
  .number_tel {
    padding: 0px 0 7px 0px;
  }
  .footer-text {
    display: none;
  }
  .footer-wrapper_button-social-networks{
    padding: 4px 38px 0 71px;
  }
  .navigation-menu ul{
    display: block;
    position: fixed;
    list-style:none;
    padding: 206px 0px 0px 64px;
    margin: 0;
    box-sizing: border-box;
    background-color: #2D303A;
    height: 100%;
    top: 0;
    left: -200px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    width: 200px;
  }
  .hidden-menu-ticker {
    display: none;
  }
  .btn-menu {
  color: #fff;
  background-color: #2d303a;
  padding: 20px 0px 0px 4px;
  position: fixed;
  top: 6px;
  left: 16px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 25px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 2px;
  background-color: #fff;
  margin: 8px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 10px;
}
.hidden-menu-ticker:checked ~ .navigation-menu ul {
  width: 278px;
  left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(90deg);
  top: 12px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  -webkit-transform: rotate(90deg);
  left: 9px;
  top: 2px;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(90deg);
  right: 8px;
  margin-top: 0px;
 }
 .navigation-menu li a {
  font-size: 23px;
  }
  .navigation-menu li {
    padding: 29px 21px 0px 0;
  }  
  .massage{
    width: 344px;
  }
  .massage p{
    width: 300px;
    margin: 16px 17px 0 16px;
  }
  #closed-button{
    width: 300px;
  }
}